@model Notice.Models.aNotice

@{
    ViewBag.Title = "Adding New Notice";
}
<head>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>
</head>
<h2 class="text-center"><b>Create Notice</b></h2>
<div style="width:100%;height:1px;background-color:maroon;">

</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="form-horizontal col-lg-8">


            <div class="form-horizontal container container-fluid">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <label for="comment">Notice Title:</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-sm-10 col-md-10">
                        <label for="comment">Notice Description:</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5, @placeholder = "Please add description here" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label for="comment">Date of Notice Show:</label>
                        @Html.EditorFor(model => model.DateAndTime_Show, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateAndTime_Show, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">

                    <div class="col-md-10">
                        <label for="comment">Date of Notice Expire:</label>
                        @Html.EditorFor(model => model.DateAndTime_Expire, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateAndTime_Expire, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-md-10">
                        <label for="comment">Category :</label>

                        @Html.DropDownListFor(x => x.CategoryID, new SelectListItem[]{
                        new SelectListItem() {Text = "Department of IT", Value="4020"},
                        new SelectListItem() {Text = "Exam", Value="4021"},
                        new SelectListItem() {Text = "Event", Value="4022"},
                        new SelectListItem() {Text = "General", Value="4023"},
                        new SelectListItem() {Text = "SRC", Value="4024"}

                        } ,new { @class = "form-control", @placeholder = "Please enter select departmrnt ID" })
                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label for="comment">Upload A File:</label>
                        @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

              
                <div class="form-group">
                    <div class="col-lg-8 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });

</script>