@model  IEnumerable<Notice.Models.FileModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
                var div = $("div");
            $("#title").animate({ left: '100px' }, "slow");
            $("#title").animate({ fontSize: '3em' }, "slow");
          
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#title").animate({ left: '50%' });

        });
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</head>
<body class="container container-fluid">
    <div style="border:dotted" class="container">
        @using (Html.BeginForm("DownloadFile", "Notices", FormMethod.Post))
        {
            <input type="hidden" id="hfFileId" name="FileId" />
            <input type="submit" id="btnDownload" value="Download" style="display:none" />
        }
        <br />
        <div>
            <div>@Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-primary btn-xs", @Style = "margin-left:0px" })</div><h2 class="text-center"><b>Notice Details</b></h2>
        </div>
        <div style="width:100%;height:1px;background-color:maroon;">

        </div>
        <div style="display:inline-flex;">
            <div id="title">
                <h1>@ViewBag.Data.Title</h1>
            </div>
        </div>
        <hr />
        <u style="font-family:Algerian;"><b>Date and Time posted  :</b>  @ViewBag.Data.DateAndTime_p</u>  <u class="pull-right" style="font-family:Algerian;"><b>Date Expiring  :</b>  @ViewBag.Data.DateAndTime_Expire</u>
        
        <br />
        <br/>
        <div class="modal-body center-block" style="border:solid;border-radius:10px;width:50%">
          
           <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio. Morbi tincidunt ornare massa eget egestas purus viverra. Vitae sapien pellentesque habitant morbi tristique. Ipsum dolor sit amet consectetur adipiscing elit pellentesque. Interdum varius sit amet mattis vulputate enim. Mauris sit amet massa vitae tortor condimentum. Id aliquet lectus proin nibh nisl condimentum id venenatis. Purus semper eget duis at. Facilisis gravida neque convallis a cras semper auctor neque. Sit amet porttitor eget dolor morbi non arcu. Enim eu turpis egestas pretium aenean pharetra magna. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Erat velit scelerisque in dictum.

               Mollis aliquam ut porttitor leo a diam. Malesuada proin libero nunc consequat interdum varius. Fermentum et sollicitudin ac orci. In nibh mauris cursus mattis molestie a iaculis at. Non curabitur gravida arcu ac tortor. Quam id leo in vitae turpis massa sed elementum tempus. Amet purus gravida quis blandit turpis cursus in hac. Eros donec ac odio tempor orci dapibus ultrices in iaculis. Ut placerat orci nulla pellentesque dignissim enim sit. Aliquam nulla facilisi cras fermentum. Placerat in egestas erat imperdiet. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Ultrices vitae auctor eu augue ut lectus.
               turpis nunc eget lorem dolor sed viverra. Platea dictumst quisque sagittis purus. Diam phasellus vestibulum lorem sed. Turpis massa sed elementum tempus egestas. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Id diam maecenas ultricies mi eget mauris pharetra. Tempor nec feugiat nisl pretium fusce id velit ut. Vel fringilla est ullamcorper eget nulla facilisi etiam. Varius sit amet mattis vulputate enim nulla. Vestibulum sed arcu non odio euismod lacinia at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Nullam vehicula ipsum a arcu cursus. Eget sit amet tellus cras adipiscing enim eu. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Amet volutpat consequat mauris nunc. Et malesuada fames ac turpis egestas sed tempus. Tellus orci ac auctor augue mauris. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Diam vel quam elementum pulvinar. Consequat m </p>
</div>


        <br />
        <br />
        <div class="well-sm" style="background-color:grey;color:white;"><h3>Files Attached to the Notice</h3></div>

        <div class="table-responsive" style="margin-top:3%;">
            <table class="table table-hover table-condensed">
                <tr style="background-color:maroon;color:white;">
                    <th>#</th>
                    <th>
                        File name
                    </th>
                    <th>

                    </th>
                </tr>
                @{

                    int i = 1;

                    if (Model.Count() > 0)
                    {
                        foreach (var file in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@file.Name</td>
                                <td><a href="javascript:;" onclick="DownloadFile(@file.Id)">Download File</a></td>
                            </tr>
                            i = i + 1;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3"><h1 class="container">Sorry this notice has no attachement</h1></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
</html>
