@model IEnumerable<Notice.Models.aNotice>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"><b>All Notice</b></h2>
<div style="width:100%;height:1px;background-color:maroon;">

</div>
<br />

<p>
    @Html.ActionLink("Add Notice", "Create")
</p>
<table class="table table-hover table-condensed">
    <tr style="background-color:maroon;color:white;">
        <th>
            @Html.DisplayNameFor(model => model.NoticeID)
        </th>
        @*<th>
                <b>Date Posted</b>
            </th>*@
        @*<th>
                <b>Expire Date</b>
            </th>*@
        @*<th>
                <b>Show Notice on:</b>
            </th>*@
        <th>
            <b>Notice Title</b>
        </th>
        <th>
            <b>Notice Description</b>
        </th>
        @*<th>
                <b>Category ID</b>
            </th>*@
        @*<th>
                <b>Admin .</b>
            </th>
            <th>
                <b>Category Name</b>
            </th>*@
        <th>
            <b>Available Attachment</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeID)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DateAndTime_p)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.DateAndTime_Expire)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.DateAndTime_Show)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.AdminID)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.HasImage)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.NoticeID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.NoticeID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.NoticeID }, new { @class = "btn btn-primary btn-xs" })

            </td>
        </tr>
    }

</table>


@*<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@