@model Notice.Models.Admin

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 class="well text-center" style="background:#861010;color:whitesmoke;"><b>Admin</b></h4>
    <hr />
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="form-horizontal col-lg-8">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-12">
                        <label for="name">Admin Name</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Please enter Admin name" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-12">
                        <label for="name">Admin SurName</label>
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @placeholder = "Please enter Admin Surname" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-12">
                        <label for="name">Admin Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Please enter Email Address" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-12">
                        <label for="name">Department ID</label>
                        @Html.TextBoxFor(model => model.DepartID, new { @class = "form-control", @placeholder = "Please enter select departmrnt ID" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-12">
                        <label for="name">Cellphone Number</label>
                        @Html.TextBoxFor(model => model.Cellphone, new { @class = "form-control", @placeholder = "Please enter Admin cellphone no..." })
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Create" class="btn btn-primary b" style="align-content:center"/>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
