@model Notice.Models.aNotice

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MUT Notices</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/mut.jpg">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <style>

        .table-scroll {
            position: relative;
            max-width: 1024px;
            margin: auto;
            overflow: hidden;
        }

        .table-wrap {
            width: 100%;
            overflow: auto;
        }

        .table-scroll table {
            width: 100%;
            margin: auto;
            border-collapse: separate;
            border-spacing: 0;
        }

        .table-scroll th, .table-scroll td {
            padding: 5px 10px;
            background: #fff;
            white-space: nowrap;
            vertical-align: top;
        }

        .table-scroll thead, .table-scroll tfoot {
            background: #f9f9f9;
        }

        .clone {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }

            .clone th, .clone td {
                visibility: hidden
            }

            .clone td, .clone th {
                border-color: transparent
            }

            .clone tbody td:first-child {
                visibility: visible;
                color: black;
            }

            .clone .fixed-side {
                visibility: visible;
            }

            .clone thead, .clone tfoot {
                background: transparent;
            }
    </style>

    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase, searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });

    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#470606;color:white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <img src="~/images/mut.jpg" style="height:40px;width:40px;vertical-align:middle;" class="pull-left">
                    @Html.ActionLink("MUT ENotice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>
                
            </div>
        </div>
    </div>

    <div class="container body-content">

        @Html.Raw(TempData["msg"])

        <h2 class="text-center"><b>All Notice</b></h2>
        <div style="width:100%;height:1px;background-color:maroon;">

        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="form-horizontal col-lg-8">


                    <div class="form-horizontal container container-fluid">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="comment">Notice Title:</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-sm-10 col-md-10">
                                <label for="comment">Notice Description:</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5, @placeholder = "Please add description here" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="comment">Date of Notice Show:</label>
                                @Html.EditorFor(model => model.DateAndTime_Show, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateAndTime_Show, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        <div class="form-group">

                            <div class="col-md-10">
                                <label for="comment">Date of Notice Expire:</label>
                                @Html.EditorFor(model => model.DateAndTime_Expire, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateAndTime_Expire, "", new { @class = "text-danger" })
                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="comment">Category :</label>

                                @Html.DropDownListFor(x => x.CategoryID, new SelectListItem[]{
                                new SelectListItem() {Text = "Department of IT", Value="4020"},
                                new SelectListItem() {Text = "Exam", Value="4021"},
                                new SelectListItem() {Text = "Event", Value="4022"},
                                new SelectListItem() {Text = "General", Value="4023"},
                                new SelectListItem() {Text = "SRC", Value="4024"}

                                }, new { @class = "form-control", @placeholder = "Please enter select departmrnt ID" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
         

        }
        <p class="center">
            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn-xs" })
        </p>
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NoticeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoticeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAndTime_p)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAndTime_p)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAndTime_Expire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAndTime_Expire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAndTime_Show)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAndTime_Show)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdminID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HasImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture)
            </dd>*@

        @*</dl>*@
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
