@model Notice.Models.aNotice

@{
    ViewBag.Title = "Details";
}

<h4 class="well text-center" style="background:#861010;color:whitesmoke;"><b>Notice Details</b></h4>

<div>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="form-horizontal col-lg-8">


                <div class="form-horizontal container container-fluid">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="comment">Notice Title:</label>
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-sm-10 col-md-10">
                            <label for="comment">Notice Description:</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5, @placeholder = "Please add description here" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="comment">Date of Notice Show:</label>
                            @Html.EditorFor(model => model.DateAndTime_Show, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateAndTime_Show, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">

                        <div class="col-md-10">
                            <label for="comment">Date of Notice Expire:</label>
                            @Html.EditorFor(model => model.DateAndTime_Expire, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateAndTime_Expire, "", new { @class = "text-danger" })
                        </div>
                    </div>





                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="comment">Category :</label>

                            @Html.DropDownListFor(x => x.CategoryID, new SelectListItem[]{
                            new SelectListItem() {Text = "Department of IT", Value="4020"},
                            new SelectListItem() {Text = "Exam", Value="4021"},
                            new SelectListItem() {Text = "Event", Value="4022"},
                            new SelectListItem() {Text = "General", Value="4023"},
                            new SelectListItem() {Text = "SRC", Value="4024"}

                            }, new { @class = "form-control", @placeholder = "Please enter select departmrnt ID" })
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
            </div>
        </div>
    }
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoticeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime_Expire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime_Expire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime_Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime_Show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>*@

    @*</dl>*@
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
