@model Notice.Models.ChangePassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container container-fluid" style="background-color:darkcyan">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <h1 class="jumbotron" style="text-align:center">Forgot your password</h1>
    <h3>Enter your email below, a new password will be sent to your email.Please change it on first log it</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4>@ViewBag.name</h4>
                    <div style="width:100%;height:1px;background-color:maroon;">

                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reset" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }




</body>
</html>
