@model Notice.Models.Categories

@{
    ViewBag.Title = "Create";
}
@Html.Raw(TempData["CreateCat"])

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Categories</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <label for="email">Category name:</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Please enter Category name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <label for="comment">Catergory Description:</label>
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", @placeholder = "Please add description here", @rows = 5 })
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4"></div>
            </div>

        </div>




    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
