@model IEnumerable<Notice.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h4 class="well text-center" style="background:#861010;color:whitesmoke;"><b>All Categories</b></h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            <b>Category ID</b>
        </td>
        <th>
            <b>Category Name</b>
        </th>
        <th>
            <b>Category Description</b>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
