@model IEnumerable<Notice.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"><b>All Categories</b></h2>
<div style="width:100%;height:1px;background-color:maroon;">

</div>
<br />

<p>
    @Html.ActionLink("Create New", "Create")

</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <td>
            <b>Category ID</b>
        </td>
        <th>
            <b>Category Name</b>
        </th>
        <th>
            <b>Category Description</b>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>